body {
    padding-top: 70px; /* Ajuste para o posicionamento do menu fixo */
    scroll-behavior: smooth;
    background-color: rgb(152, 152, 172);
  }
  
  .section {
    padding: 80px 0;
    text-align: center;
  }
  
  .back-to-top {
    display: block;
    margin-top: 20px;
  }
  
  /* Ajuste para o menu ativo */
  .navbar .nav-item.active .nav-link {
    color: #007bff;
  }
  
  /* Carrossel */
  .carousel-item {
    height: 400px;
  }
  
  .carousel-item img {
    height: 100%;
    width: 100%;
  }
  
  /* Estilos para o Banner */
  .banner {
    background-color: #bbbafc;
    padding: 20px;
    animation: slide 5s infinite alternate; /* Anima��o em loop */
  }

@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(50px); /* Anima��o de deslocamento */
    }
  }


/* Define a largura das colunas no grid para diferentes tamanhos de tela */
@media (min-width: 576px) {
    .custom-grid .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 768px) {
    .custom-grid .col-md-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media (min-width: 992px) {
    .custom-grid .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}